* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
  background: #cacaca;
  width: 15rem;
  padding: 1.5rem;
  margin: 2rem auto;
  border-radius: .3rem;
  transition: all .2s ease;
}

.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.person img {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .5);
  transition: all .2s ease;
}

.person h4 {
  text-transform: capitalize;
  margin: .5rem 0;
  letter-spacing: .2rem;
}

@media screen and (min-width:768px) {
  .person-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width:992px) {
  .person-list {
    grid-template-columns: repeat(3, 1fr);
  }
}